body {
    background: #ddd
}
h2 {
    margin: 0;
    position: fixed;
    top:10px;
    left: 50px;
    color: #000;
    text-shadow: 1px 1px 1px #fff;
    z-index: 20000
}
#map {
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    bottom:0;
}

.leaflet-popup-content {
    line-height: 13px
}

.leaflet-popup-content em {
    padding-right: 20px;
}

/* PANELS */

.leaflet-panel-layers {
    background: rgba(255,255,255,0.4);
}
.leaflet-top.leaflet-right .leaflet-panel-layers-item {
    height: 40px;
    width: 160px;
}
.leaflet-panel-layers-group {
    width: 180px
}
.leaflet-panel-layers-overlays .leaflet-panel-layers-item {
    border: 1px solid transparent;
    background: none;
}
.leaflet-panel-layers-group.collapsible .leaflet-panel-layers-icon:first-child {
    font-size: 26px;
    border: none;
}
.leaflet-panel-layers-title {
    font-size: 12px;
    display: block;
}

.leaflet-panel-layers-icon {
    background: #eee;
    border: 1px solid #ddd;
    width: auto;
    height: 16px;
    padding: 0;
    float: right;
    overflow: hidden;
}
.leaflet-panel-layers-item .layer-color {
    display: inline-block;
    height: 16px;
    width: 16px;
    border: none
}

.leaflet-panel-layers-item .irs-min,
.leaflet-panel-layers-item .irs-max,
.leaflet-panel-layers-item .irs-line {
    display: none;
}

.leaflet-panel-layers-item .irs {
    width: 162px;
    height: 20px;
    /*visibility: hidden;    */
}

.leaflet-panel-layers-item:hover .irs {
    visibility: visible;
}